
<form method= "POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{#allData}}
first name<input id="first" name="first" placeholder="first name" value="{{first}}"><br>
last name<input id="last" name="second" placeholder="second name" value="{{last}}"><br>
e-mail<input id="email" name="email" placeholder="e-mail address" value="{{email}}"><br>
password<input id="password" name="password" placeholder="choose a password" value=""><br>
age<input id="age" name="age" placeholder="age" value="{{age}}"><br>
city<input id="city" name="city" placeholder="city" value="{{city}}"><br>
homepage<input id="homepage" name="homepage" placeholder="homepage" value="{{url}}"><br>
{{/allData}}

 <button id="submit" type="submit">UPDATE</button><br>
</form>

  <div id="message"></div>
