<h1>Thanks to everybody</h1>
{{#subscribers}}
<ul>
<li>{{first}} {{last}} <a href='/signers/{{city}}'>{{city}}</a> {{age}} <a href='https://www.{{url}}'>{{url}}</a></li>
</ul>
{{/subscribers}}
{{#subscribersFromCity}}
<h1>In particular to all subscribers from {{city}}</h1>
<ul>
<li>{{first}} {{last}} <a href='/signers/{{city}}'>{{city}}</a> {{age}} <a href='https://www.{{url}}'>{{url}}</a></li>
</ul>
{{/subscribersFromCity}}
