<h1>Thanks to everybody</h1>
{{#subscribers}}
<ul>
<li><a href='{{url}}'>{{first}} {{last}} </a><a href='/signers/{{city}}'>{{city}}</a> {{age}}
</ul>
{{/subscribers}}
<h4 class="error"><a href="/thanks"><button>Back to your signaure</button></a></h4>
