<h1>Thanks to everybody</h1>
{{#subscribers}}
<ul>
<li>{{first}} {{last}} <span><a href='/signers/{{city}}'>{{city}}</a></span> {{age}} <span> <a target="_blank" href="{{url}}">{{url}}</a>
</ul>
{{/subscribers}}
<h4 class="error"><a href="/thanks"><button>Back to your signaure</button></a></h4>
